<div class="events">
  <div class="event" *ngFor="let event of events">

    <div routerLink="/transaction/{{event.id}}" *ngIf="event.type==='transaction'" class="event__wrap event__transaction event__transaction_{{event.direction}}">
      <div class="event__id">{{event.id}}</div>
      <div class="event__date">{{event.date}}</div>
      <div class="event__inner">
        <div class="event__transaction-amount">{{event.direction === 'in' ? '+' : '-'}} {{event.amount}} {{event.currency}}</div>
        <div class="event__transaction-from">{{event.from}}</div>
      </div>
    </div>

    <div routerLink="/article/{{event.id}}" *ngIf="event.type==='article'" class="event__wrap event__article {{event.isRead ? 'event__article_read' : ''}}">
      <div class="event__id">{{event.id}}</div>
      <div class="event__date">{{event.date}}</div>
      <div class="event__inner">
        <div class="event__article-ttl">{{event.title}}</div>
        <div class="event__article-read">{{event.isRead ? 'Прочитано' : ''}}</div>
      </div>
    </div>
  </div>
</div>