.add
{
  h2
  {
    text-align: center;
  }
}

.form
{
  width: 400px;
  margin: 0 auto;

  label
  {
    display: flex;
    align-items: flex-start;

    margin-bottom: 20px;

    span
    {
      display: inline-block;

      width: 150px;
      flex-shrink: 1;
    }
  }

  input,
  textarea
  {
    width: 250px;
  }

  textarea
  {
    height: 100px;
    min-height: 100px;
    resize: vertical;
  }

  &__buttons
  {
    display: flex;
    align-items: center;

    justify-content: space-between;
  }
}